@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
img{
    float: left;
}

h1{
    float: left;
    margin-top: 19px;
}

.container-fluid{
    background-color: red;
}

.navbar-brand{
    font-size: 50px;
}

a{
    padding-right: 20px
}

