{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 id="titulo">Productos</h1>
<script src="{% static 'js/carrito.js' %}"></script>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for comic in comics %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{ comic.titulo }}</h5>
        <p class="card-text">{{ comic.descripcion }}</p>
        <p id="card_precio" class="card-text">{{ comic.precio }}</p>
        
        <a href="#" class="btn btn-primary add-to-cart" data-titulo="{{ comic.titulo }}" data-precio="{{ comic.precio }}">Añadir</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}