<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXITO</title>
</head>
<body>
    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">¡Registro Exitoso!</h4>
            <p>Tu registro ha sido completado exitosamente.</p>
            <hr>
            <p class="mb-0">Puedes ir a tu <a href="{% url 'inicio' %}">Página de inicio</a>
        </div>
    </div>
</body>
</html>

